/*#region Custom Pulsing Button */

.pulsing-button {
	/* width: 150px; */
	box-shadow: 0 0 0 0 rgba(16, 78, 202, 0.7);
	-webkit-animation: pulsing 2s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulsing 2s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulsing 2s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulsing 2s infinite cubic-bezier(0.66, 0, 0, 1);
	color: #ffffff;
	transition: all 200ms ease-in-out;
}

.pulsing-button:hover {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
	color: #ffffff;
}

/*#endregion */

/*#region Animation*/

@-webkit-keyframes pulsing {
	to {
		box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
	}
}

@-moz-keyframes pulsing {
	to {
		box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
	}
}

@-ms-keyframes pulsing {
	to {
		box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
	}
}

@keyframes pulsing {
	to {
		box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);
	}
}

/*#endregion */

/* .wrapper {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.footer {
	background-color: rgb(160, 159, 160);
	color: #fff;
	padding: 20px;
} */